/* WEB FONT */
@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');
@import url('https://fonts.googleapis.com/css2?family=Blinker:wght@100;200;300;400;600;700;800;900&display=swap');

/* COMMON */
:root {
  /* size */
  --size-100: 100%;
  --size-700: 700px;
  --size-1024: 1024px;
  /* color */
  --black: #333;
  --gray: #a9afb3;
  --gray-opacity: #e3e3e3;
  --blue: #2553e5;
  --red: #ec4352;
  --white: #fff;
  /* font size */
  --font-title: 45px;
  --font-middle: 25px;
  --font-content: 18px;
  --font-copy: 14px;
  --font-icon: 11px;
  /* margin */
  --margin-center: 0 auto;
  --margin-title: 50px;
  /* padding */
  --padding-10: 10px;
  --padding-30: 30px;
  --padding-100: 100px;
  --padding-100-0: 100px 0;
  /* button */
  --button-acc: 30px;
  --button-square: 10px;
  --button-padding: 10px 25px;
}
* {
  color: var(--black);
  font-family: 'Pretendard', sans-serif;
  font-size: var(--font-content);
  box-sizing: border-box;
}
.hidden {
  height: 100%;
  min-height: 100%;
  overflow: hidden;
  touch-action: none;
}
body {
  margin: 0;
  padding: 0;
}
input[type='text'] {
  background-color: var(--white);
}
input::-ms-clear,
input::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}
input::-webkit-search-decoration,
input::-webkit-search-cancel-button,
input::-webkit-search-results-button,
input::-webkit-search-results-decoration {
  display: none;
}
h1,
h2,
h3,
h4,
h5,
p,
ul,
li,
a {
  color: var(--black);
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}
button {
  background-color: transparent;
}
.blin {
  font-family: 'Blinker';
}
main {
  min-height: 600px;
}

/* HEADER */
header {
  position: sticky;
  top: 0;
  background-color: var(--white);
  z-index: 9;
}
header .head_top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: var(--size-100);
  padding: 0 20px;
  border-bottom: 1px solid var(--gray-opacity);
}
header .head_top .logo img {
  width: 200px;
}
header .head_search {
  width: 50%;
}
header .head_search .input_wrap {
  position: relative;
  width: 100%;
  padding: 0;
  border-radius: var(--button-square);
}
header .head_search .input_wrap input {
  width: var(--size-100);
  height: 40px;
  color: var(--black);
  font-size: var(--font-content);
  font-weight: 600;
  border: 0;
  outline: none;
}
header .head_search .input_wrap input::placeholder {
  color: var(--gray);
  font-size: var(--font-content);
  font-weight: 600;
}
header .head_search .input_wrap button {
  position: absolute;
  right: 20px;
  height: 40px;
  background-color: transparent;
  border: 0;
  cursor: pointer;
}
header .head_search .input_wrap button i {
  color: var(--gray);
  font-size: var(--font-content);
}

header .head_top .head_contents {
  display: flex;
  align-items: center;
  gap: 20px;
}
header .head_top .mobile_menu_btn,
header .head_top .head_contents .close_mobile_btn,
header .head_top .head_contents .mobile_menu {
  display: none;
}
header .head_top .head_contents .alert {
  cursor: pointer;
}
header .head_top .head_contents .close_mobile_btn i,
header .head_top .head_contents .alert i {
  font-size: var(--font-middle);
}
header .head_top .head_contents .alert i:hover {
  color: var(--blue);
}
header .head_top .head_contents .login {
  position: relative;
}
header .head_top .head_contents .login button {
  color: var(--white);
  font-size: var(--font-copy);
  font-weight: 700;
  padding: var(--button-padding);
  background-color: var(--blue);
  border: 0;
  border-radius: var(--button-acc);
  cursor: pointer;
}
header .head_top .head_contents .login ul {
  display: none;
  position: absolute;
  width: 100%;
  margin-top: 6px;
  border: 1px solid var(--gray);
  border-radius: var(--button-square);
  background-color: var(--white);
  z-index: 5;
}
header .head_top .head_contents .login ul.active {
  display: block;
}
header .head_top .head_contents .login ul li {
  border-bottom: 1px solid var(--gray);
}
header .head_top .head_contents .login ul li:last-child {
  border-bottom: 0;
}
header .head_top .head_contents .login ul li a {
  display: inline-block;
  width: 100%;
  font-size: var(--font-copy);
  font-weight: 700;
  padding: var(--button-padding);
}
header .head_top .head_contents .login ul li a:hover {
  color: var(--white);
  background-color: var(--blue);
  border-color: var(--blue);
}
header .head_top .head_contents .login ul li:first-child a {
  border-radius: 10px 10px 0 0;
}
header .head_top .head_contents .login ul li:last-child a {
  border-radius: 0 0 10px 10px;
}
header .head_top .head_contents .lang {
  position: relative;
}
header .head_top .head_contents .lang p {
  display: flex;
  align-items: center;
  gap: 7px;
  color: var(--gray);
  font-size: var(--font-content);
  font-weight: 900;
  cursor: pointer;
}
header .head_top .head_contents .lang p a {
  color: var(--gray);
}
header .head_top .head_contents .lang p a:hover,
header .head_top .head_contents .lang p a.active {
  color: var(--black);
}
header .alert_popup {
  position: fixed;
  top: 0;
  right: -100%;
  width: 400px;
  height: 100vh;
  padding: var(--margin-title);
  background-color: var(--white);
  border-left: 1px solid var(--gray-opacity);
  transition: 300ms;
}
header .alert_popup.active {
  right: 0;
  transition: 300ms;
  z-index: 6;
}
header .alert_popup .title {
  font-size: var(--font-middle);
  text-align: center;
  margin-bottom: var(--margin-title);
}
header .alert_popup button {
  position: absolute;
  top: var(--margin-title);
  height: 29px;
  line-height: 1;
  border: 0;
  cursor: pointer;
}
header .alert_popup .alert_popup_close {
  left: var(--margin-title);
  font-size: var(--font-middle);
}
header .alert_popup .alert_popup_close i {
  font-size: var(--font-middle);
}
header .alert_popup .read_all {
  right: var(--margin-title);
  color: var(--white);
  font-size: var(--font-copy);
  padding: 0 15px;
  background-color: var(--blue);
  border-radius: var(--button-acc);
}
header .alert_popup ul li {
  position: relative;
  margin-bottom: var(--padding-30);
  padding-bottom: var(--padding-30);
  border-bottom: 1px solid var(--gray-opacity);
}
header .alert_popup ul li:last-child {
  margin-bottom: 0;
  padding-bottom: 0;
  border-bottom: 0;
}
header .alert_popup ul li p a {
  display: block;
  font-size: var(--font-content);
  font-weight: 700;
  margin-bottom: 5px;
}
header .alert_popup ul li p a:hover {
  color: var(--blue);
  font-weight: 700;
}
header .alert_popup ul li .date {
  color: var(--gray);
  font-size: var(--font-copy);
  font-weight: 600;
}
header .alert_popup ul li .new {
  position: absolute;
  right: 0;
  top: 0;
  color: var(--blue);
  font-size: var(--font-icon);
  font-weight: 800;
}

/* FOOTER */
footer {
  background-color: var(--black);
}
footer .inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: var(--size-1024);
  margin: var(--margin-center);
  padding: 50px 0;
}
footer .inner .contents {
  display: flex;
  flex-direction: column;
}
footer .inner .contents nav {
  margin: 30px 0 10px;
}
footer .inner .contents nav a {
  display: inline-block;
  color: var(--white);
  font-size: var(--font-copy);
  margin-right: var(--padding-10);
  padding-right: var(--padding-10);
  border-right: 1px solid var(--white);
}
footer .inner .contents nav a:hover {
  color: var(--blue);
}
footer .inner .contents address {
  display: flex;
}
footer .inner .contents address p {
  color: var(--white);
  font-size: var(--font-copy);
  font-style: normal;
  line-height: 1;
  margin-right: var(--padding-10);
  padding-right: var(--padding-10);
  border-right: 1px solid var(--white);
}
footer .inner .contents address p i {
  color: var(--white);
  font-size: var(--font-icon);
}
footer .inner .contents nav a:last-child,
footer .inner .contents address p:last-child {
  margin: 0;
  padding: 0;
  border: 0;
}
footer .inner .contents .copy {
  color: var(--gray);
  font-size: var(--font-copy);
  font-weight: 500;
  margin-top: var(--padding-30);
}
footer .inner .sns ul {
  display: flex;
  gap: 15px;
}
footer .inner .sns ul li a i {
  color: var(--white);
  font-size: var(--font-middle);
}
.popup_term,
.popup_Privacy {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 50%;
  height: 70%;
  padding: 50px;
  transform: translate(-50%, -50%);
  background-color: var(--white);
  border: 1px solid var(--gray);
  overflow-y: scroll;
  z-index: 5;
}
.popup_term h2,
.popup_Privacy h2 {
  font-size: var(--font-title);
  text-align: center;
  margin-bottom: var(--margin-title);
}
.popup_term p,
.popup_Privacy p {
  font-size: var(--font-content);
  line-height: 1.5;
}
.popup_term button,
.popup_Privacy button {
  width: var(--size-100);
  color: var(--white);
  font-size: var(--font-content);
  margin-top: 50px;
  padding: 20px 0;
  background-color: var(--gray);
  outline: none;
  border: 0;
  border-radius: var(--button-acc);
  cursor: pointer;
}
.popup_term button:hover,
.popup_Privacy button:hover {
  background-color: var(--blue);
}
.popup_bg {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: var(--size-100);
  height: var(--size-100);
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(10px);
  z-index: 4;
}

/* PAGING */
.paging {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  margin-top: var(--margin-title);
}
.paging button {
  border: 0;
  outline: none;
  background-color: transparent;
  cursor: pointer;
}
.paging ul {
  display: flex;
  gap: 15px;
  margin: 0 10px;
}
.paging ul li a {
  font-size: var(--font-content);
  font-weight: 700;
}
.paging ul li a:hover {
  color: var(--blue);
}
.view_paging {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: var(--padding-30);
}
.view_paging button {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: var(--font-middle);
  font-weight: 600;
  border: 0;
  outline: none;
  background-color: transparent;
  cursor: pointer;
}
.view_paging button i {
  font-size: var(--font-content);
}
.view_paging button:hover,
.view_paging button:hover i {
  color: var(--blue);
  font-weight: 700;
}
.view_paging button.return i {
  font-size: var(--font-middle);
  padding: var(--padding-10);
  transition: 300ms;
}
.view_paging button.return:hover i {
  color: var(--white);
  background-color: var(--blue);
  border-radius: var(--button-square);
  transition: 300ms;
}

/* MAIN */
/* SEARCH */
main .search {
  display: flex;
  width: var(--size-1024);
  margin: var(--margin-center);
  padding: var(--padding-100-0);
}
main .search .title {
  width: 300px;
  color: var(--blue);
  font-size: var(--font-title);
  text-align: center;
}
main .search .input_wrap {
  position: relative;
  width: calc(100% - 300px);
  padding: var(--padding-10);
  border: 3px solid var(--blue);
  border-radius: var(--button-square);
}
main .search .input_wrap input {
  width: var(--size-100);
  height: 40px;
  border: 0;
  outline: none;
}
main .search .input_wrap button {
  position: absolute;
  right: 20px;
  height: 40px;
  background-color: transparent;
  border: 0;
  cursor: pointer;
}
main .search .input_wrap button i {
  color: var(--gray);
  font-size: var(--font-content);
}
main .search .result_wrap {
  margin-top: 50px;
}

/* SLIDER */
main .slider {
  width: 95%;
  height: 300px;
  margin: var(--margin-center);
}
main .slider img {
  width: var(--size-100);
  height: 300px;
  border-radius: var(--button-acc);
}

/* FAQ */
main .faq {
  width: 100%;
  padding: var(--padding-100-0);
}
main .faq .inner {
  width: var(--size-1024);
  margin: var(--margin-center);
}
main .faq .inner .title {
  font-size: var(--font-middle);
  font-weight: 800;
}
main .faq .inner .tab {
  display: flex;
  gap: 20px;
  margin: 30px 0;
}
main .faq .inner .tab li {
  color: var(--white);
  font-size: var(--font-copy);
  font-weight: 700;
  padding: var(--button-padding);
  border-radius: var(--button-acc);
  border: 0;
  background-color: var(--gray);
  cursor: pointer;
}
main .faq .inner .tab li:hover,
main .faq .inner .tab li.active {
  color: var(--white);
  background-color: var(--blue);
}
main .faq .inner .contents .list {
  display: none;
}
main .faq .inner .contents .list.active {
  display: block;
}
main .faq .inner .contents .qna_list .que {
  position: relative;
  display: flex;
  margin: 20px 0;
  cursor: pointer;
}
main .faq .inner .contents .qna_list .que i {
  position: absolute;
  right: 0;
  top: 6px;
  color: var(--blue);
  font-size: var(--font-content);
  transition: 300ms;
}
main .faq .inner .contents .qna_list.active .que i {
  transform: rotate(-180deg);
  transition: 300ms;
}
main .faq .inner .contents .qna_list .que b {
  color: var(--blue);
  font-size: var(--font-middle);
  font-weight: 900;
}
main .faq .inner .contents .qna_list .que p {
  display: inline-block;
  font-size: var(--font-content);
  font-weight: 600;
  margin: 10px 0 0 10px;
}
main .faq .inner .contents .qna_list .ans {
  display: none;
  margin-bottom: var(--padding-30);
}
main .faq .inner .contents .qna_list .ans.active {
  display: flex;
}
main .faq .inner .contents .qna_list .ans b {
  color: var(--gray);
  font-size: var(--font-middle);
  font-weight: 900;
}
main .faq .inner .contents .qna_list .ans p {
  display: inline-block;
  font-size: var(--font-content);
  line-height: 1.5;
  margin: 10px 0 0 10px;
}

/* PARTNERS */
main .partners {
  padding: var(--padding-100-0);
  background-color: var(--gray-opacity);
}
main .partners .inner {
  display: flex;
  justify-content: space-between;
  width: var(--size-1024);
  margin: var(--margin-center);
}
main .partners .inner .title {
  width: 30%;
  font-size: var(--font-title);
}
main .partners .inner ul {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 70%;
}
main .partners .inner ul li {
  width: 30%;
}
main .partners .inner ul li img {
  width: var(--size-100);
}

/* SUSB PAGE */
main .top_banner {
  height: 140px;
  background-color: var(--blue);
}
main .top_banner .text_box {
  display: flex;
  align-items: center;
  width: var(--size-1024);
  margin: var(--margin-center);
  padding-top: var(--padding-10);
}
main .top_banner .text_box img {
}
main .top_banner .text_box div {
  margin-left: var(--margin-title);
}
main .top_banner .text_box div h2 {
  color: var(--white);
  font-size: var(--font-middle);
  margin-bottom: 6px;
}
main .top_banner .text_box div h2 span {
  color: var(--white);
  font-size: var(--font-content);
}
main .top_banner .text_box div p {
  color: var(--white);
  font-size: var(--font-content);
}

/* CONTACT */
.contact .title {
  font-size: var(--font-title);
  text-align: center;
  margin-bottom: var(--margin-title);
}
.contact .wrap {
  display: flex;
  flex-direction: column;
  width: var(--size-700);
  margin: var(--margin-center);
  padding: 30px 0 100px;
}
.contact .wrap .block {
  display: flex;
  justify-content: space-between;
  width: var(--size-100);
  margin-bottom: 20px;
}
.contact .wrap .block label {
  display: flex;
  gap: 6px;
  width: 20%;
  font-size: var(--font-middle);
  font-weight: 600;
}
.contact .wrap .block label b {
  color: var(--red);
}
.contact .wrap .block input,
.contact .wrap .block textarea {
  width: 80%;
  padding: 10px 5px;
}
.contact .wrap .block input::placeholder,
.contact .wrap .block textarea::placeholder {
  color: var(--gray);
  font-size: var(--font-content);
}
.contact .wrap #formSubmit {
  width: var(--size-100);
  color: var(--white);
  font-size: var(--font-content);
  margin-top: 50px;
  padding: 15px 0;
  background-color: var(--gray);
  border: 0;
  border-radius: var(--button-acc);
  outline: none;
  cursor: pointer;
}
.contact .wrap #formSubmit:hover {
  background-color: var(--blue);
}

/* NOTICE LIST */
.notice .title {
  font-size: var(--font-title);
  text-align: center;
  margin-bottom: var(--margin-title);
}
.notice .inner {
  position: relative;
  width: var(--size-1024);
  min-height: 500px;
  margin: var(--margin-center);
  padding: var(--padding-100-0);
}
.notice .inner .write_btn {
  position: absolute;
  right: 0;
  color: var(--white);
  font-size: var(--font-copy);
  margin-top: var(--margin-title);
  padding: 10px 25px;
  border: 0;
  border-radius: var(--button-acc);
  outline: none;
  background-color: var(--gray);
  cursor: pointer;
}
.notice .inner .write_btn:hover {
  background-color: var(--blue);
}
.notice table {
  width: var(--size-100);
  margin: var(--margin-center);
  border-top: 2px solid var(--blue);
  border-bottom: 1px solid var(--black);
  border-collapse: collapse;
  table-layout: fixed;
}
.notice table thead {
  border-bottom: 1px solid var(--black);
}
.notice table thead tr th {
  font-size: var(--font-content);
  font-weight: 700;
  padding: 20px;
  border-bottom: 1px solid var(--black);
}
.notice table tbody tr td {
  padding: 20px 5px;
  border-bottom: 1px solid var(--gray);
}
.notice table tbody tr td a {
  width: 100%;
  color: var(--black);
  font-size: var(--font-content);
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.notice table tbody tr td a:hover {
  color: var(--blue);
  font-size: var(--font-content);
  font-weight: 700;
}
.notice table tbody tr td.date {
  color: var(--gray);
}
.notice table tbody tr:last-child td {
  border-bottom: 0;
}
.notice table tbody tr td:last-child {
  text-align: center;
}

/* NOTICE VIEW */
.notice_view {
  padding: var(--padding-100-0);
}
.notice_view .title {
  font-size: var(--font-title);
  text-align: center;
  margin-bottom: var(--margin-title);
}
.notice_view .wrap {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: var(--size-1024);
  min-height: 500px;
  margin: var(--margin-center);
  border-top: 2px solid var(--blue);
}
.notice_view .wrap .con_title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0 20px 10px;
  border-bottom: 1px solid var(--black);
}
.notice_view .wrap .con_title p {
  width: 70%;
  font-size: var(--font-middle);
  font-weight: 700;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.notice_view .wrap .con_title span {
  color: var(--gray);
  font-size: var(--font-content);
  font-weight: 600;
}
.notice_view .wrap .con_cont {
  padding: 20px 10px;
  border-bottom: 1px solid var(--black);
}
.notice_view .wrap .con_cont p {
  font-size: var(--font-content);
  line-height: 1.5;
}

/* NOTICE WRITE */
.notice_write {
  padding: var(--padding-100-0);
}
.notice_write .title {
  font-size: var(--font-title);
  text-align: center;
  margin-bottom: var(--margin-title);
}
.notice_write .wrap {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: var(--size-1024);
  min-height: 500px;
  margin: var(--margin-center);
}
.notice_write .wrap label {
  font-size: var(--font-content);
  font-weight: 600;
}
.notice_write .wrap textarea,
.notice_write .wrap input {
  padding: 10px 5px;
}
.notice_write .wrap textarea::placeholder,
.notice_write .wrap input::placeholder {
  font-size: var(--font-content);
}
.notice_write .wrap input[type='submit'] {
  color: var(--white);
  font-size: var(--font-content);
  margin-top: var(--padding-30);
  padding: 15px 0;
  outline: none;
  background-color: var(--gray);
  border: 0;
  border-radius: var(--button-acc);
  cursor: pointer;
}
.notice_write .wrap input[type='submit']:hover {
  background-color: var(--blue);
}

/* MYFAQ */

.myfaq {
  width: 100%;
  padding-bottom: var(--margin-title);
}
.myfaq .inner {
  width: var(--size-1024);
  margin: var(--margin-center);
}
.myfaq .inner .title {
  font-size: var(--font-middle);
  font-weight: 800;
}
.myfaq .inner .tab {
  display: flex;
  gap: 20px;
  margin: 30px 0;
}
.myfaq .inner .tab li {
  color: var(--gray);
  padding: var(--button-padding);
  border-radius: var(--button-acc);
  border: 2px solid var(--gray);
  cursor: pointer;
}
.myfaq .inner .tab li.active {
  color: var(--white);
  font-weight: 600;
  border: 1px solid var(--blue);
  background-color: var(--blue);
}
.myfaq .inner .tab li span {
  color: var(--gray);
}
.myfaq .inner .tab li.active span {
  color: var(--white);
}
.myfaq .inner .contents .list {
  display: none;
}
.myfaq .inner .contents .list.active {
  display: block;
}
.myfaq .inner .contents .qna_list {
  border-bottom: 1px solid var(--gray-opacity);
}
.myfaq .inner .contents .qna_list:last-child {
  border: 0;
}
.myfaq .inner .contents .qna_list .que {
  position: relative;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin: 20px 0;
  cursor: pointer;
}
.myfaq .inner .contents .qna_list .que span {
  display: flex;
  align-items: center;
  gap: 10px;
  color: var(--red);
  font-size: var(--font-copy);
  font-weight: 700;
}
.myfaq .inner .contents .qna_list .que span.complete {
  color: var(--blue);
}
.myfaq .inner .contents .qna_list .que span.complete i {
  color: var(--blue);
}
.myfaq .inner .contents .qna_list .que span i {
  display: inline-block;
  font-size: var(--font-content);
  color: var(--red);
}
.myfaq .inner .contents .qna_list .que b {
  color: var(--blue);
  font-size: var(--font-middle);
  font-weight: 900;
}
.myfaq .inner .contents .qna_list .que p {
  display: inline-block;
  font-size: var(--font-content);
  font-weight: 600;
  margin: 10px 0 0 10px;
}
.myfaq .inner .contents .qna_list .ans {
  display: none;
  margin-bottom: var(--padding-30);
}
.myfaq .inner .contents .qna_list .ans.active {
  display: flex;
}
.myfaq .inner .contents .qna_list .ans b {
  color: var(--gray);
  font-size: var(--font-middle);
  font-weight: 900;
}
.myfaq .inner .contents .qna_list .ans p {
  display: inline-block;
  font-size: var(--font-content);
  margin: 10px 0 0 10px;
}

/* MYPAGE */
.mypage .inner {
  width: var(--size-700);
  margin: var(--margin-center);
  padding: var(--padding-100-0);
}
.mypage .inner form {
  position: relative;
}
.mypage .inner .title {
  font-size: var(--font-title);
  margin: var(--margin-center);
  text-align: center;
  padding-bottom: var(--margin-title);
}
.mypage .inner .block {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}
.mypage .inner .block .w50 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 48%;
}
.mypage .inner .block p {
  width: 20%;
  font-size: var(--font-content);
  font-weight: 500;
}
.mypage .inner .block input[type='text'] {
  width: 80%;
  height: 30px;
  font-size: var(--font-copy);
  padding: 5px 10px;
  border: 1px solid var(--gray);
}
.mypage .inner .block input[type='text']::placeholder {
  color: var(--gray);
  font-size: var(--font-copy);
}
.mypage .inner .block button {
  width: 100px;
  height: 30px;
  color: var(--gray);
  font-size: var(--font-copy);
  border: 1px solid var(--gray);
  cursor: pointer;
}
.mypage .inner .block button:hover {
  color: var(--white);
  background-color: var(--blue);
  border: 1px solid var(--blue);
}
.mypage .inner .block .number {
  display: flex;
  justify-content: space-between;
  width: 80%;
}
.mypage .inner .auth {
  align-items: center;
  justify-content: flex-end;
  gap: 10px;
}
.mypage .inner .auth button {
  width: 100px;
  cursor: pointer;
}
e .inner .auth p,
.mypage .inner .auth input {
  width: auto !important;
}
.mypage .inner .block .radio {
  display: flex;
  align-items: center;
  width: 80%;
}
.mypage .inner .submit {
  display: block;
  width: 150px;
  color: var(--white);
  margin: 50px auto 0;
  padding: var(--button-padding);
  background-color: var(--gray);
  border: 0;
  border-radius: var(--button-acc);
  cursor: pointer;
}
.mypage .inner .submit:hover {
  background-color: var(--blue);
}
.mypage .inner .retired {
  position: absolute;
  bottom: 0;
  right: 0;
  color: var(--gray);
  font-size: var(--font-icon);
  border: 0;
  border-radius: var(--button-square);
  padding: 5px 10px;
  cursor: pointer;
}
.mypage .inner .retired:hover {
  color: var(--white);
  background-color: var(--red);
}

/* QNA */
main .qna .inner {
  width: var(--size-1024);
  margin: var(--margin-center);
  padding-bottom: var(--padding-100);
}
.qna .inner .login_text {
  font-size: var(--font-middle);
  font-weight: 700;
  text-align: center;
  padding-bottom: var(--padding-100);
}
main .qna .inner .qna_list .que {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: var(--padding-30);
  padding-bottom: var(--padding-30);
  border-bottom: 1px solid var(--gray-opacity);
  cursor: pointer;
}
main .qna .inner .qna_list .que:last-child {
  margin-bottom: 0;
  padding-bottom: 0;
  border-bottom: 0;
}
main .qna .inner .qna_list .que .title {
  display: flex;
  align-items: flex-end;
  gap: 6px;
}
main .qna .inner .qna_list .que .title b {
  color: var(--blue);
  font-size: var(--font-middle);
  font-weight: 900;
}
main .qna .inner .qna_list .que .title p {
  display: inline-block;
  font-size: var(--font-content);
  font-weight: 600;
  margin: 10px 0 0 10px;
}
main .qna .inner .qna_list .que:hover .title p {
  font-weight: 700;
}
main .qna .inner .qna_list .que span {
  color: var(--gray);
  font-size: var(--font-copy);
  font-weight: 600;
}
main .qna .inner .qna_view_title {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: var(--padding-30);
}
main .qna .inner .qna_view_title button {
  color: var(--white);
  font-size: var(--font-copy);
  font-weight: 700;
  padding: var(--button-padding);
  border-radius: var(--button-acc);
  border: 0;
  background-color: var(--gray);
  outline: none;
  cursor: pointer;
}
main .qna .inner .qna_view_title button:hover {
  background-color: var(--blue);
}

/* QNA VIEW */
.qna_view .search {
  padding: 100px 0 0;
}
.result {
  width: var(--size-1024);
  margin: var(--margin-center);
  padding: var(--padding-100-0);
}
.result .login_text {
  font-size: var(--font-middle);
  font-weight: 700;
  text-align: center;
  padding: var(--padding-100-0);
}
.result .qna_view_title {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.result .qna_view_title .title {
  font-size: var(--font-content);
  font-weight: 800;
}
.result .qna_view_title .title > b {
  color: var(--red);
}
.result .qna_view_title button {
  color: var(--white);
  font-size: var(--font-copy);
  font-weight: 700;
  padding: var(--button-padding);
  border-radius: var(--button-acc);
  border: 0;
  background-color: var(--gray);
  outline: none;
  cursor: pointer;
}
.result .qna_view_title button:hover {
  background-color: var(--blue);
}
.result .qna_wrap {
  padding-top: 20px;
}
.result .qna_wrap .qna_list button {
  width: 100%;
  color: var(--white);
  font-size: var(--font-copy);
  font-weight: 700;
  margin: 30px 0;
  padding: 15px 0;
  outline: none;
  border: 0;
  background-color: var(--gray);
  border-radius: var(--button-square);
  cursor: pointer;
}
.result .qna_wrap .qna_list button:hover {
  background-color: var(--blue);
}
.result .qna_wrap .qna_list .qna {
  padding: 50px;
  border: 1px solid var(--gray-opacity);
  border-radius: var(--button-acc);
}
.result .qna_wrap .qna_list .qna .que_title {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin-bottom: 30px;
  padding-bottom: 30px;
  border-bottom: 1px solid var(--gray-opacity);
}
.result .qna_wrap .qna_list .qna .que_title .title b {
  display: inline-block;
  font-size: var(--font-middle);
  margin-right: 6px;
}
.result .qna_wrap .qna_list .qna .que_title .title h2 {
  font-size: var(--font-middle);
  margin-bottom: 20px;
}
.result .qna_wrap .qna_list .qna .que_title .title p {
  font-size: var(--font-content);
  font-weight: 700;
}
.result .qna_wrap .qna_list .qna .que_title .title p span {
  display: inline-block;
  color: var(--gray);
  font-size: var(--font-copy);
  font-weight: 400;
  margin-left: 5px;
}
.result .qna_wrap .qna_list .qna .que_title .title p img {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 5px;
  border-radius: 100%;
}
.result .qna_wrap .qna_list .qna .que_title .icon {
  display: flex;
  align-items: flex-end;
  gap: 10px;
}
.result .qna_wrap .qna_list .qna .que_title .icon span {
  display: flex;
  align-items: flex-end;
  gap: 6px;
  font-size: var(--font-copy);
  font-weight: 700;
  cursor: pointer;
}
.result .qna_wrap .qna_list .qna .que_contents,
.result .qna_wrap .qna_list .ans .que_contents {
  font-size: var(--font-content);
  line-height: 1.5;
}
.result .qna_wrap .qna_list .ans {
  margin-bottom: 30px;
  padding: 50px;
  border: 1px solid var(--gray-opacity);
  border-radius: var(--button-acc);
}
.result .qna_wrap .qna_list .ans .profile {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin-bottom: 30px;
  padding-bottom: 30px;
  border-bottom: 1px solid var(--gray-opacity);
}
.result .qna_wrap .qna_list .ans .profile .profile_box {
  display: flex;
  gap: 10px;
}
.result .qna_wrap .qna_list .ans .profile .profile_box .img img {
  width: 50px;
  height: 50px;
  border-radius: 100%;
}
.result .qna_wrap .qna_list .ans .profile .profile_box .text_box h2 {
  font-size: var(--font-content);
  font-weight: 800;
}
.result .qna_wrap .qna_list .ans .profile .profile_box .text_box h2 span {
  display: inline-block;
  font-size: var(--font-content);
  font-weight: 500;
  margin: 0 0 10px 6px;
}
.result .qna_wrap .qna_list .ans .profile .profile_box .text_box p {
  color: var(--gray);
  font-size: var(--font-copy);
}
.result .qna_wrap .qna_list .ans .profile .siren {
  display: flex;
  align-items: flex-end;
  gap: 6px;
  font-size: var(--font-copy);
  font-weight: 700;
  cursor: pointer;
}
@media all and (max-width: 1024px) {
  /* COMMON */
  :root {
    /* size */
    --size-100: 100%;
    --size-700: 100%;
    --size-1024: 100%;
    /* font size */
    --font-title: 2rem;
    --font-middle: 1.5rem;
    --font-content: 1rem;
    --font-copy: 0.8rem;
    --font-icon: 0.6rem;
    /* margin */
    --margin-title: 10vw;
    /* padding */
    --padding-10: 3vw;
    --padding-30: 8vw;
    --padding-100: 15vw;
    --padding-100-0: 15vw 0;
    /* button */
    --button-acc: 4vw;
    --button-square: 10px;
    --button-padding: 2vw 5vw;
  }

  /* HEADER */
  header .head_top {
    position: relative;
    display: flex;
    flex-direction: column;
    border: 0;
  }
  header .head_top .mobile_menu_btn {
    position: absolute;
    left: 20px;
    top: 20px;
  }
  header .head_top .mobile_menu_btn i {
    font-size: var(--font-middle);
  }
  header .head_top .logo {
    width: 40%;
    height: 60px;
    margin: var(--margin-center);
  }
  header .head_search {
    width: 100%;
  }
  header .head_search .input_wrap {
    padding: 3vw 0;
  }
  header .head_search .input_wrap button {
    right: 0;
  }
  header .head_top .logo img {
    display: block;
    width: auto;
    height: 60px;
    margin: var(--margin-center);
  }
  header .head_top .head_contents {
    position: fixed;
    right: -100%;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100vh;
    padding: var(--padding-30);
    background-color: var(--white);
    transition: 300ms;
  }
  header .head_top .head_contents.active {
    right: 0;
    transition: 300ms;
  }
  header .head_top .head_contents .close_mobile_btn {
    position: absolute;
    left: var(--padding-30);
    top: var(--padding-30);
  }
  header .head_top .head_contents .login {
    display: none;
  }
  header .head_top .head_contents .alert {
    display: none;
  }
  header .head_top .mobile_alert {
    position: absolute;
    right: 20px;
    top: 20px;
    display: block;
  }
  header .head_top .mobile_alert i {
    font-size: var(--font-middle);
    line-height: 1;
  }
  header .head_top .head_contents .lang {
    position: absolute;
    right: var(--padding-30);
    top: var(--padding-30);
  }
  header .head_top .mobile_menu_btn,
  header .head_top .head_contents .close_mobile_btn,
  header .head_top .head_contents .mobile_menu {
    display: block;
  }
  header .head_top .head_contents .mobile_menu ul {
    display: flex;
    flex-direction: column;
  }
  header .head_top .head_contents .mobile_menu ul.mobile_nav {
    gap: var(--padding-30);
  }
  header .head_top .head_contents .mobile_menu ul.mobile_login {
    gap: var(--padding-10);
    margin-top: var(--padding-30);
    padding-top: var(--padding-30);
    border-top: 1px solid var(--gray);
  }
  header .head_top .head_contents .mobile_menu ul li a {
    display: block;
    font-size: var(--font-title);
    font-weight: 700;
    text-align: center;
  }
  header .head_top .head_contents .mobile_menu ul.mobile_login li a {
    font-size: var(--font-content);
  }
  header .alert_popup {
    width: var(--size-100);
    padding: var(--padding-30);
  }
  header .alert_popup button {
    top: var(--padding-30);
  }
  header .alert_popup .alert_popup_close {
    left: var(--padding-30);
  }
  header .alert_popup .read_all {
    right: var(--padding-30);
  }

  /* FOOTER */
  footer .inner {
    flex-direction: column;
    align-items: flex-start;
    padding: var(--padding-30);
  }
  footer .inner .contents nav {
    margin: 5vw 0;
  }
  footer .inner .contents nav a {
    margin: 0 2vw 2vw 0;
    padding: 0;
    border: 0;
  }
  footer .inner .contents address {
    flex-direction: row;
    flex-wrap: wrap;
  }
  footer .inner .contents address p {
    margin: 0 2vw 2vw 0;
    padding: 0;
    border: 0;
  }
  footer .inner .sns ul {
    margin-top: var(--padding-30);
  }
  .popup_term,
  .popup_Privacy {
    width: 90%;
  }

  /* SUB PAGE */
  main .top_banner {
    height: auto;
    padding: 6vw 0;
  }
  main .top_banner .text_box {
    margin: 0;
    padding: 0;
  }
  main .top_banner .text_box img {
    display: none;
  }

  /* MAIN */
  main .search {
    flex-direction: column;
    padding: 10vw 0;
  }
  main .search .title {
    display: none;
    width: var(--size-100);
    margin-bottom: 5vw;
  }
  main .search .input_wrap button {
    right: var(--padding-10);
  }
  main .search .input_wrap {
    width: 90%;
    margin: var(--margin-center);
  }
  main .faq {
    width: 90%;
    margin: var(--margin-center);
  }
  main .faq .inner .tab {
    gap: 2vw;
    margin: 5vw 0;
  }
  main .faq .inner .contents .qna_list .que p {
    width: 80%;
  }
  main .faq .inner .contents .qna_list .que i {
    top: 13px;
  }

  main .partners .inner {
    flex-direction: column;
  }
  main .partners .inner ul {
    justify-content: flex-start;
    margin-left: var(--padding-30);
  }
  main .partners .inner .title {
    margin-bottom: var(--padding-30);
    margin-left: var(--padding-30);
  }

  /* QNA */
  main .qna .inner {
    width: 90%;
  }
  main .qna .inner .qna_list .que {
    flex-direction: column;
    align-items: flex-start;
  }
  main .qna .inner .qna_list .que .title {
    display: flex;
  }
}
